{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_api.css" />
{% endblock %}

{% block body %}

<div class="column_api">
	<div class="_right">
		<div class="look_right">
			{% if data %}
			<div class="api_page">
				<h3 id="api_title" style="position: relative; padding-bottom: 50px;">
					{% if data2.name %}
						{{data2.name}}
					{% else %}
						{{data.swagger_id}}
					{% endif %}
					<span class="goright" style="top:28px; font-size: 13px; font-weight: 100;">
						<a href="/api/detail/{{data2.id}}">详情</a>&nbsp;&nbsp;
						<a href="/looks/api?p_id={{data.project_id}}&token=" id="js_backlist">访问记录</a>&nbsp;&nbsp;
						<a href="/api/test?tid={{data.id}}">在线调试</a>&nbsp;&nbsp;
					</span>
				</h3>

				<div class="api_detail">

					<h2>请求Url</h2>
					<p>
						<span class="url">{{data.url}}</span>
					</p>

					<h2>请求方式</h2>
					<p>
						{{data.server_type}}
						 -
						{{data.requests}}
						{% if data2.fun_name %}
						 -
						{{data2.fun_name}}
						{% endif %}
					</p>

					<h2>请求时间</h2>
					<p>{{data.time | date('Y-m-d H:i:s', -480)}}</p>

					<h2>响应时间</h2>
					<p>{{data.send_time}}ms</p>

					<h2>请求参数</h2>
					<div>
						<div class="_json" id="js_data_parameters">{{data.parameters}}</div>
					</div>

					{% if data.back_data %}
						<h2>返回结果</h2>
						<div class="_json">{{data.back_data}}</div>
					{% endif %}

				</div>

			</div>
			{% else %}
			<div>没有数据</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}


{% block script %}
<script>
$(function(){
	//
	var dataParameters = JSON.parse($("#js_data_parameters").text());
	$("#js_backlist").attr("href", $("#js_backlist").attr("href")+dataParameters.headers.TOKEN.slice(-5))
});
</script>
{% include '../common/codejs.html' %}
{% endblock %}
