{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
<style>
	table._table tr td.overflow {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	table._table tr td, table._table tr td a.link {
		color: #000;
	}
	table._table tr.looksd td, table._table tr.looksd td a.link {
		color: #999;
	}
	table._table tr.looksd td font {
		/*color: #999;*/
	}
</style>
{% endblock %}

{% block body %}
<div class="column_head bg_base64 jumbotron">
	<div class="container">
		<h1 class="display-3">项目监控</h1>
		<p>
			{{pData.name}}

			{% if query.token %}
				| token={{query.token}} <a href="/looks/api?p_id={{pData.id}}">所有记录</a>
			{% elseif query.swagger_id %}
				| swagger_id={{query.swagger_id}} <a href="/looks/api?p_id={{pData.id}}">所有记录</a>
			{% else %}
				| 实时访问记录
			{% endif %}

		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<table class="_table" >
			<thead>
				<tr>
					<th width="6%">请求方式</th>
					<th width="20%">请求接口</th>
					<th width="6%">响应时间</th>
					<th width="6%">code</th>
					<th width="16%">data</th>
					<th width="16%">访问时间</th>
					<!--<th width="6%">message</th>-->
					<th width="20%" style="text-align: center">操作</th>
				</tr>
			</thead>
			<tbody>
				{%for item in data %}
					<tr class="_{{item.id}}" data-id="{{item.id}}">
						<td data-id="{{item.id}}" title="{{item.server_type}}">{{item.requests}}</td>
						<td title="{{item.url}}"><a class="link" href="/looks/api?p_id={{item.project_id}}&swagger_id={{item.swagger_id}}">{{item.url}}</a></td>
						<td>
							{% if item.send_time<100 %}
								<font color="#58c760">{{item.send_time}}ms</font>
							{% elseif item.send_time<300 %}
								<font color="#e58f07">{{item.send_time}}ms</font>
							{% elseif item.send_time<300 %}
								<font color="#f90000" style="font-weight: 800">{{item.send_time}}ms</font>
							{% else %}
								<font color="#f90000">{{item.send_time}}ms</font>
							{% endif %}
						</td>
						<td style="max-width: 100px;" class="overflow back_code"></td>
						<td style="max-width: 100px;" title="{{item.back_data}}" class="overflow js_back_data">{{item.back_data}}</td>
						<td>{{item.time | date('Y-m-d H:i:s', -480)}}</td>
						<!--<td style="max-width: 100px;" class="overflow back_message"></td>-->
						<td class="setting_btn">
							<a href="/looks/api/detail?id={{item.id}}" class="btn btn-sm btn-info"><i class="iconfont">&#xe611;</i>查看</a>
							<a target="_blank" href="/api/test?tid={{item.id}}" class="btn btn-sm btn-success"><i class="iconfont">&#xe632;</i>调试</a>
							<a href="/looks/api?p_id={{item.project_id}}&token=" class="btn btn-sm btn-danger js_go_mylist" data-liks="{{item.parameters}}"><i class="iconfont">&#xe6a5;</i>追踪</a>
						</td>
					</tr>
				{% endfor%}
			</tbody>
		</table>

	</div>
</div>

{% endblock %}

{% block script %}
<script>
$(function(){

	$(".js_go_mylist").click(function(){
		var dataParameters = $(this).data("liks");
		if(dataParameters && dataParameters.headers && dataParameters.headers.TOKEN) {
			$(this).attr("href", $(this).attr("href")+dataParameters.headers.TOKEN.slice(-5))
		} else {
			return false;
		}
	});

	$(".js_back_data").each(function(){
		try {
			var json1 = $(this).text();
			if(typeof json1 == "string"){
				json1 = JSON.parse(json1);
			}
			if(typeof json1 == "string"){
				json1 = JSON.parse(json1);
			}
			if(json1.code==200){
				$(this).closest("tr").find(".back_code").html('<font color="#58c760">'+json1.code+'</font>');
				$(this).closest("tr").find(".back_message").html('<font>'+json1.message+'</font>');
			} else {
				$(this).closest("tr").find(".back_code").html('<font color="#e58f07">'+json1.code+'</font>');
				$(this).closest("tr").find(".back_message").html('<font>'+json1.message+'</font>');
			}
			$(this).text(JSON.stringify(json1.data));
		} catch (error){
			console.info(error);
			$(this).text($(this).attr("title"));
		}
	});




	/*首先从cookies中读取已经浏览过的数据*/
	var looksend = getCookie("looks_api");
//	console.info(looksend);
	if(looksend!=undefined && looksend!="undefined" && looksend!=""){
		var looksendArray = looksend.split(",");
//		console.info(looksendArray);
		for(i=0;i<looksendArray.length;i++){
			try {
				$("table tr[data-id='"+looksendArray[i]+"']").addClass("looksd");

//				$("table tr._"+looksendArray[i]).css("color", "#999");
			} catch (error){
				console.info(error);
			}
		}
	}

	/*然后从服务端覆盖最新的cookies*/
	delCookie("looks_api");
	var looks = '{{looksApis}}';
//	console.info(looks);
	var looksArray = looks.split(",");
	document.cookie="looks_api="+looks;

	function getCookie(name) {
//		console.info(name);
		var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
		if(arr=document.cookie.match(reg))
			return unescape(arr[2]);
		else
			return null;
	}
	function delCookie(name){
		var exp = new Date();
		exp.setTime(exp.getTime() - 1);
		var cval=getCookie(name);
		if(cval!=null)
			document.cookie= name + "="+cval+";expires="+exp.toGMTString();
	}



});
</script>
{% endblock %}
