{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_index.css" />
{% endblock %}

{% block body %}
<div class="container">
	<div class="breadcrumb">
		创建项目
	</div>
	<form action="/project/createPost" id="js_form" method="post">

		{% include 'form.html' %}

		<p style="padding-left: 520px; padding-top: 20px; text-align: left;">
			<button type="submit" class="btns btns-blue btns-longer" style="height: auto;">创建项目</button>
		</p>
	</form>
</div>
{% endblock %}

{% block script %}
{% endblock %}