<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>创建项目 - Lookapi</title>
<link rel="stylesheet" type="text/css" href="/static/css/page_index.css" />
</head>

<body>

{% include '../common/header.html' %}

<div class="wrapper wrapper_login" style="padding-top: 150px; text-align: center;">
	<form action="/project/createPost" id="js_form" method="post">

		{% include 'form.html' %}

		<p style="padding-left: 520px; padding-top: 20px; text-align: left;">
			<button type="submit" class="btns btns-blue btns-longer" style="height: auto;">创建项目</button>
		</p>
	</form>
</div>



{% include '../common/footer.html' %}

</body>
</html>