{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_index.css" />
{% endblock %}

{% block body %}
<div class="container">
	<div class="index_title">
		我的项目
	</div>
	<div class="row">
		<div class="col-sm-4" style="margin-bottom: 2rem">
			<a href="/project/create">新建项目</a>
		</div>
		{% for item in data %}
			{% set item.currentPage='my_project' %}
			{% include '../common/project_card.html' %}
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
	$(".del_project").click(function(e) {
		e.stopPropagation();
		var id = $(this).data("id");
		$.sx.confirm("确定删除吗？", "删除项目后，该项目下所有版本和对应api都将删除。", function(){
			$.ajax({
				url: "/project/removeProject",
				type: "post",
				dataType: "json",
				data: {
					id: id
				},
				success: function(data){
					if(data.status==0){
						$.sx.alert("操作成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
		});
		return false;
	});
});
</script>
{% endblock %}