{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
{% endblock %}

{% block body %}

<div class="column_head bg_base64 jumbotron">
	<div class="container">
		<h1 class="display-3">Swagger导入记录</h1>
		<p>{{data.name}} - {{data.swagger_url}}</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<table class="_table" width="100%">
			<thead>
				<tr>
					<th width="20%">导入用户</th>
					<th width="20%">时间</th>
					<th width="10%">扫描数量</th>
					<th width="10%">忽略</th>
					<th width="10%">创建</th>
					<th width="10%">更新</th>
					<th width="10%">失败</th>
					<th width="10%">操作</th>
				</tr>
			</thead>
			<tbody>
				{%for item in data.swagger_history %}
					<tr>
						<td>{{item.update_name}}</td>
						<td>{{item.import_time | date('Y-m-d H:i:s', -480)}}</td>
						<td>{{item.count_all}}</td>
						<td>{{item.count_cancel}}</td>
						<td>{{item.count_create}}</td>
						<td>{{item.count_update}}</td>
						<td>{{item.count_fail}}</td>
						<td><a href="/build/{{item.file_name}}.txt" target="_blank" class="btns btns-min btns-green">查看日志</a></td>
					</tr>
				{% endfor%}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
