{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
{% endblock %}

{% block body %}
{% include './_bar.html' %}
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			{% set currentNav='team' %}
			{% include './_nav.html' %}
		</div>
		<div class="col-xs-12 col-sm-9 column_right">
			<table class="_table">
				<tr>
					<th>姓名</th>
					<th>邮箱</th>
					<th>角色</th>
					<!--<th>加入时间</th>-->
					<th>操作</th>
				</tr>
				<tr>
					<td>{{data.user_name}}</td>
					<td>*** ***</td>
					<td style="color: orange">创建者</td>
					<!--<td>{{data.create_time | date('Y-m-d H:i:s', -480)}}</td>-->
					<td></td>
				</tr>
				{%for item in teamAdmins %}
					<tr>
						<td>{{item.name}}</td>
						<td>{{item.email}}</td>
						<td style="color: #58c760">协作者</td>
						{% if user.id == data.user_id %}
						<!--项目创建者-->
							<td><a href="#" class="del_teamadmin" data-p_id="{{data.id}}" data-u_id="{{item.id}}" style="color:red;">删除</a></td>
						{% elseif user.id == item.id %}
						<!--我自己协作的项目-->
							<td><a href="#" class="out_teamadmin" data-p_id="{{data.id}}" data-u_id="{{item.id}}" style="color:red;">退出协作</a></td>
						{% else %}
						<!--other-->
							<td></td>
						{% endif %}
					</tr>
				{% endfor%}
				<tr>
					{% if user.id == data.user_id %}
					<!--项目创建者-->
						<td colspan="4"><a href="#" id="js_add_team">邀请协作成员</a></td>
					{% else %}
					<!--other-->
						<td colspan="4" style="font-size: 12px; color: #999;">只有项目创建者才能邀请协作成员</td>
					{% endif %}
				</tr>
			</table>
		</div>
	</div>
</div>

<!--tpl_add_version-->
<script type="text/html" id="tpl_add_teams">
	<form action="/project/sendJoinTeamMessage" id="js_form" method="post">
		<p style="padding: 10px 50px;">用户邮箱：<input type="text" name="email" class="input" value="" placeholder="输入该用户邮箱地址"> *对方必须同意才能加入</p>
		<p style="padding: 10px 50px 10px 110px;">
			<label class="checkbox">
		        <input type="checkbox" id="js_checkbox" name="is_sendmail"> 给他发送邮件提醒
		    </label>
		</p>
		<input type="hidden" name="p_id" value="{{data.id}}">
		<input type="hidden" name="p_name" value="{{data.name}}">
		<p style="padding: 10px 50px 10px 110px;">
			<a class="btns btns-blue btns-longer" id="js_submit">确定</a>
		</p>
	</form>

</script>
{% endblock %}

{% block script %}
<script>
	$(function(){
		$("#js_add_team").click(function(){
			$.sx.dialog({
				opentitle: "添加项目协作成员",
				html: $("#tpl_add_teams").html()
			});
			return false;
		});

		$("body").on("click", "#js_submit", function(){
			// $("#js_checkbox").prop("checked");
			$("#js_form").ajaxSubmit({
				success: function(data) {
					console.info(data);
					if(data.status==0){
						$.sx.alert("发送成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});



		$(".del_teamadmin").click(function(){
			var p_id = $(this).data("p_id");
			var u_id = $(this).data("u_id");
			$.sx.confirm("确定删除该成员吗？", function(){
				ajaxDelTeamAdmin(p_id, u_id);
			});
			return false;
		});

		$(".out_teamadmin").click(function(){
			var p_id = $(this).data("p_id");
			var u_id = $(this).data("u_id");
			$.sx.confirm("确定退出该项目吗？", "退出该项目后将无法创建和编辑Api", function(){
				ajaxDelTeamAdmin(p_id, u_id);
			});
			return false;
		});

		function ajaxDelTeamAdmin(p_id, u_id){
			$.ajax({
				url: "/project/removeTeamAdmin",
				type: "POST",
				dataType: "json",
				data: {
					u_id: u_id,
					p_id: p_id
				},
				success: function(data){
					if(data.status==0){
						$.sx.alert("操作成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
		}
	});
</script>
{% endblock %}