{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
{% endblock %}

{% block body %}
<div class="column_head bg_base64 jumbotron">
	<div class="container">
		<h1 class="display-3">{{data.name}}</h1>
		<p>Amaze UI 概览，下载、使用，模板示例，二次开发……</p>
	</div>
</div>
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			{% set currentNav='version' %}
			{% include './nav.html' %}
		</div>
		<div class="col-xs-12 col-sm-9 column_right">
			<table class="version_table">
				<tr>
					<th>版本号</th>
					<th>api数量</th>
					<th>是否默认</th>
					<th>编辑</th>
				</tr>
				{%for item in versions %}
					<tr>
						<td>{{item.name}}</td>
						<td>10</td>
						<td>
							{%if item.id===data.version_id %}
								<font>默认</font>
							{%endif%}
						</td>
						<td>
							{%if item.id!=data.version_id %}
								<a href="#" data-p_id="{{data.id}}" data-id="{{item.id}}" data-name="{{item.name}}" class="set_default" style="color: #999">设为默认</a>
								<a href="#" data-p_id="{{data.id}}" data-id="{{item.id}}" data-name="{{item.name}}" class="del_version" style="color: red">删除</a>
							{%endif%}
						</td>
					</tr>
				{% endfor%}
				<tr>
					<td colspan="4"><a href="#" id="js_add_version">创建新版本</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--tpl_add_version-->
<script type="text/html" id="tpl_add_version">
	<form action="/project/createVersionPost" id="js_form" method="post">
		<p style="padding: 10px 50px;">版本号：<input type="text" name="newversion" class="input" value="" placeholder="输入数字或小数"> *版本号必须为整数或小数格式，版本号创建后不能修改名称</p>
		<p style="padding: 10px 50px 10px 110px;">
			<label class="checkbox">
		        <input type="checkbox"> 复制已有版本api
		    </label>
		</p>
		<input type="hidden" name="p_id" value="{{query.p_id}}">
		<p style="padding: 10px 50px 10px 110px;">
			<a class="btns btns-blue btns-longer" id="js_submit">保存</a>
		</p>
	</form>
</script>
{% endblock %}

{% block script %}
<script>
	$(function(){
		$("#js_add_version").click(function(){
			$.sx.dialog({
				opentitle: "创建新版本",
				html: $("#tpl_add_version").html()
			});
			return false;
		});

		$("body").on("click", "#js_submit", function(){
			$("#js_form").ajaxSubmit({
				success: function(data) {
					console.info(data);
					if(data.status==0){
						$.sx.alert("创建新版本成功，即将刷新页面！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});



		$(".set_default").click(function(){
			console.info("click");
			$.ajax({
				url: "/project/setDefaultVersionPost",
				type: "POST",
				dataType: "json",
				data: {
					p_id: $(this).data("p_id"),
					v_id: $(this).data("id"),
					v_name: $(this).data("name")
				},
				success: function(data){
					if(data.status==0){
						$.sx.alert("操作成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});


		$(".del_version").click(function(){
			console.info("click");
			$.ajax({
				url: "/project/removeVersionPost",
				type: "POST",
				dataType: "json",
				data: {
					id: $(this).data("id")
				},
				success: function(data){
					if(data.status==0){
						$.sx.alert("操作成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});

	});
</script>
{% endblock %}