{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
{% endblock %}

{% block body %}
{% include './_bar.html' %}
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			{% set currentNav='version' %}
			{% include './_nav.html' %}
		</div>
		<div class="col-xs-12 col-sm-9 column_right">
			<table class="_table">
				<tr>
					<th width="40%">版本号</th>
					<th width="20%">api数量</th>
					<th width="40%">操作</th>
				</tr>
				{%for item in versions %}
					<tr>
						<td>
							{{item.name}}
							{%if item.id===data.version_id %}
								<font color="#bbb">（默认）</font>
							{%endif%}
						</td>
						<td>0</td>
						<td>
							{%if item.id!=data.version_id %}
								<a href="#" data-p_id="{{data.id}}" data-id="{{item.id}}" data-name="{{item.name}}" class="btn btn-sm btn-info set_default" >设为默认</a>
								<a href="#" data-p_id="{{data.id}}" data-id="{{item.id}}" data-name="{{item.name}}" class="btn btn-sm btn-danger del_version"><i class="iconfont">&#xe646;</i>删除</a>
							{%endif%}
						</td>
					</tr>
				{% endfor%}
				<tr>
					<td colspan="3" style="padding: 25px; text-align: center;"><a href="#" id="js_add_version" style="color: orange;">创建新版本</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--tpl_add_version-->
<script type="text/html" id="tpl_add_version">
	<form action="/project/createVersionPost" class="_form_dialog" id="js_form" method="post">
		<div class="form-group row">
			<label class="col-sm-3 form-control-label">版本号：</label>
			<div class="col-sm-9">
				<input type="text" name="newversion" id="js_newversion" class="form-control form-control-inline" value="" placeholder="输入数字或小数">
				<p>*版本号必须为整数或小数格式，且创建后不可修改</p>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 form-control-label"></label>
			<div class="col-sm-9">
				<div class="checkbox">
					<label>
						<input type="checkbox"> 复制已有版本api
					</label>
				</div>
			</div>
		</div>

		<input type="hidden" name="p_id" value="{{query.p_id}}">

		<div class="form-group row">
			<label class="col-sm-3 form-control-label"></label>
			<div class="col-sm-9">
				<a href="javascript:void(0)" class="btn btn-primary btn-lger" id="js_submit">创建</a>
			</div>
		</div>
	</form>
</script>
{% endblock %}

{% block script %}
<script>
	$(function(){
		$("#js_add_version").click(function(){
			$.sx.dialog({
				opentitle: "创建新版本",
				html: $("#tpl_add_version").html()
			});
			return false;
		});

		$("body").on("click", "#js_submit", function(){
			if($("#js_newversion").val() == ""){
				return alert("版本号不能为空！");
			}
			$("#js_form").ajaxSubmit({
				success: function(data) {
					console.info(data);
					if(data.status==0){
						$.sx.alert("创建新版本成功，即将刷新页面！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});



		$(".set_default").click(function(){
			console.info("click");
			$.ajax({
				url: "/project/setDefaultVersionPost",
				type: "POST",
				dataType: "json",
				data: {
					p_id: $(this).data("p_id"),
					v_id: $(this).data("id"),
					v_name: $(this).data("name")
				},
				success: function(data){
					if(data.status==0){
						$.sx.alert("操作成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});


		$(".del_version").click(function(){
			console.info("click");
			$.ajax({
				url: "/project/removeVersionPost",
				type: "POST",
				dataType: "json",
				data: {
					id: $(this).data("id")
				},
				success: function(data){
					if(data.status==0){
						$.sx.alert("操作成功！");
						setTimeout(function(){
							window.location.reload();
						}, 1500);
					} else {
						$.sx.alert(data.message);
					}
				}
			});
			return false;
		});

	});
</script>
{% endblock %}