{% extends './common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_index.css" />
{% endblock %}

{% block body %}
<div class="index_intro">
    <div class="container">
        <h1>lookapi.<font>前端专属</font></h1><br>
        <h2>迅速搭建，便于维护的api管理工具 © www.lookapi.cn</h2><br>
		<div class="content">
		    <a class="link link1" href="#">了解更多</a>
			<a class="link" href="/project/index">立即使用</a>
		</div>
    </div>
	<div id="a-js" class="a-js">
		<canvas class="canvas"></canvas>
	</div>
</div>
<div class="container">
	<div class="index_title">
		公司项目
	</div>
	<div class="row">
		{% for item in Projects %}
			{% include './common/project_card.html' %}
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/script/a.js"></script>
<script>
$(function(){
	// $(".index_intro").height($(window).height()-$("header").height());
});
</script>
{% endblock %}