{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
{% endblock %}

{% block body %}
<div class="column_head bg_base64 jumbotron">
	<div class="container">
		<h1 class="display-3">个人中心</h1>
		<p>Amaze UI 概览，下载、使用，模板示例，二次开发……</p>
	</div>
</div>
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
			{% set currentNav='center' %}
			{% include './nav.html' %}
		</div>
		<div class="col-xs-12 col-sm-9 column_right">
			<form action="/user/updatePost" class="_form" method="post" id="js_form">
				<div class="form-group row">
					<label class="col-sm-2 form-control-label">邮箱地址：</label>
					<div class="col-sm-10">
						{{user.email}}
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 form-control-label">创建时间：</label>
					<div class="col-sm-10">
						{{user.last_login | date('Y-m-d H:i:s', -480)}}
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 form-control-label">真实姓名：</label>
					<div class="col-sm-10">
						<input type="text" name="name" class="form-control" value="{{user.name}}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 form-control-label"></label>
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary btn-lg" >修改姓名 &raquo;</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!--tpl_add_version-->
<script type="text/html" id="tpl_add_teams">
	<form action="/project/sendJoinTeamMessage" id="js_form" method="post">
		<p style="padding: 10px 50px;">用户邮箱：<input type="text" name="email" class="input" value="" placeholder="输入该用户邮箱地址"> *对方必须同意才能加入</p>
		<p style="padding: 10px 50px 10px 110px;">
			<label class="checkbox">
		        <input type="checkbox" id="js_checkbox" name="is_sendmail"> 给他发送邮件提醒
		    </label>
		</p>
		<input type="hidden" name="p_id" value="{{data.id}}">
		<input type="hidden" name="p_name" value="{{data.name}}">
		<p style="padding: 10px 50px 10px 110px;">
			<a class="btns btns-blue btns-longer" id="js_submit">确定</a>
		</p>
	</form>

</script>
{% endblock %}

{% block script %}
<script>
$(function(){

	findNewMessage();

	/*查询新消息数*/
	function findNewMessage() {
		$.ajax({
			url: "/user/getMyNewMessageNumber",
			type: "POST",
			dataType: "json",
			success: function(data){
				console.info(data);
				if(data.status==0&&data.data>0){
					$("#js_newmessage_num").text(data.data).show();
				} else {
					console.info(data.message);
				}
				setTimeout(findNewMessage, 10000);
			}
		});
	}


	$("#js_submit").click(function(){
		$("#js_form").ajaxSubmit({
			success: function(data) {
				console.info(data);
				if(data.status==0){
					$.sx.alert("修改成功！");
					setTimeout(function(){
						window.location.reload();
					}, 1500)
				} else {
					$.sx.alert(data.message);
				}
			}
		});
		return false;
	});
});
</script>
{% endblock %}