{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_user.css" />
{% endblock %}

{% block body %}
<div class="container">
	<form class="form-signin" action="/user/loginPost" method="post" id="js_form">
		<h2 class="form-signin-heading center">登录</h2>

		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" name="email" id="inputEmail" class="form-control input_first" placeholder="邮箱地址" required autofocus>

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control input_last" placeholder="密码" required>
		<div class="checkbox">
			<label><input type="checkbox" value="remember-me"> 记住密码</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block pointer" type="submit" id="js_submit">登录</button>
		<input type="hidden" name="backurl" id="js_backurl" value="{{query.backurl}}">
		{% if query.backurl %}
		<p style="font-size: 15px; color: #bbb; text-align: center; padding: 60px 0;">
			（*>.<*）…<br> 请登录后继续操作吧！
		</p>
		{% endif %}
	</form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$("#js_submit").click(function(){
		$("#js_form").ajaxSubmit({
			success: function(data) {
				console.info(data);
				if(data.status==0){
					if($("#js_backurl").val()!=""){
						$.sx.alert("登录成功，即将返回前一个页面！", "success");
						setTimeout(function(){
							window.location.href = $("#js_backurl").val();
						}, 1500);
					} else {
						$.sx.alert("登录成功，即将返回首页！", "success");
						setTimeout(function(){
							window.location.href = "/";
						}, 1500);
					}
				} else {
					$.sx.alert(data.message, "info");
				}
			}
		});
		return false;
	});
});
</script>
{% endblock %}