<div class="list-group">
	<a href="/user/center" class="list-group-item {% if currentNav=='center' %}active{% endif %}">个人中心</a>
	<a href="/user/changePassword" class="list-group-item {% if currentNav=='changePassword' %}active{% endif %}">修改密码</a>
	<a href="/user/message" class="list-group-item {% if currentNav=='message' %}active{% endif %}">我的消息<b id="js_newmessage_num" style="display:none; background: red;
		 color: #fff; font-size: 8px; width: 14px; height: 14px; line-height: 14px; border-radius: 100%; top: -5px; position: relative"></b></a>
	<a href="/user/env" class="list-group-item {% if currentNav=='env' %}active{% endif %}">我的环境</a>
</div>