{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_user.css" />
{% endblock %}

{% block body %}
<div class="container">
	<form class="form-signin" action="/user/registerPost" method="post" id="js_form">
		<h2 class="form-signin-heading center">注册</h2>

		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" name="email" id="inputEmail" class="form-control input_first" placeholder="邮箱地址" required autofocus>

		<label for="inputEmail" class="sr-only">姓名</label>
		<input type="text" name="username" id="inputEmail" class="form-control" placeholder="姓名" required autofocus>

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>

		<label for="inputPassword2" class="sr-only">Password</label>
		<input type="password" name="password_again" id="inputPassword2" class="form-control input_last" placeholder="确认密码" required>

		<button class="btn btn-lg btn-primary btn-block pointer" type="submit" id="js_submit">注册</button>
	</form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
	$("#js_submit").click(function(){
		$("#js_form").ajaxSubmit({
			success: function(data) {
				console.info(data);
				if(data.status==0){
					$.sx.alert("注册成功，即将返回首页！");
					setTimeout(function(){
						window.location.href = "/";
					}, 1500);
				} else {
					$.sx.alert(data.message);
				}
			}
		});
		return false;
	});
});
</script>
{% endblock %}