
.index_intro {
	background: no-repeat center, -webkit-gradient(linear, 0 0, 0 bottom, from(#3276b1), to(#398dd6));
	min-height: 500px;
	max-height: 800px;
	overflow: hidden;
	position: relative;
}
.index_intro .a-js {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.index_intro .a-js canvas {
	width: 100%;
	height: 800px\0;
	height: 800px;
}

.index_intro .container {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: -130px;
}
.index_intro .container * {
	position: relative;
	z-index: 100;
}
.index_intro .container h1,
.index_intro .container h2,
.index_intro .content {
	display: inline-block;
}

.index_intro .container h1 {
	font-size: 3.5rem;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: .15em;
	text-align: center;
	font-weight: 800;
	color: #fff;
	margin: 0 0 0.2em;
}

.index_intro .container h1 font {
	font-size: 3rem;
	font-weight: 100;
	position: relative;
	top: -5px;
}

.index_intro .container h2 {
	margin: 0;
	text-align: center;
	position: relative;
	font-size: 14px;
	line-height: 1em;
	font-weight: 100;
	color: #d8f0ff;
}

.index_intro .container h2 a {
	color: #d8f0ff;
	font-weight: bold;
	text-decoration: none;
}

.index_intro .content {
	margin-top: 70px;
	line-height: 1.8em;
	text-align: center;
}

.index_intro .content a.link {
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.05);
	-moz-box-shadow: 0 1px rgba(255, 255, 255, 0.05);
	-o-box-shadow: 0 1px rgba(255, 255, 255, 0.05);
	box-shadow: 0 1px rgba(255, 255, 255, 0.05);
	display: inline-block;
	vertical-align: middle;
	color: #d1e6f7;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 1rem 0;
	width: 16rem;
	font-size: 1rem;
	font-weight: 100;
	border: 1px solid #63aed7;
	font-family: "Courier", sans-serif;
	font-family: verdana;
	text-transform: uppercase;
	-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-animation: opacity 0.2s;
}
.index_intro .content a.link:hover {
	box-shadow: 0 1px rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.15);
	color: #fff;
	text-decoration: none;
}
.index_intro .content a.link {
	margin: 0 2rem 2rem;
}

.index_title {
	font-size: 2rem;
	line-height: 5rem;
	text-align: center;
	font-weight: 300;
	position: relative;
	margin: 3.6rem 0;
}
.index_title:after {
	content: "";
	width: 2rem;
	margin-left: -1rem;
	height: 1px;
	background: red;
	border-bottom: 3px solid #398dd6;
	position: absolute;
	left: 50%;
	bottom: 0;
}




