<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Mymocks - Lookapi</title>
<link rel="stylesheet" type="text/css" href="/static/css/page_index.css" />
</head>

<body>

{% include '../common/header.html' %}



<div class="wrapper" style="border-top: 1px solid #eee; margin-top: 40px;">
	<h5 style="padding: 20px 0;">所有项目：</h5>
	<ul class="projects_list">
	{% for item in data %}
		<li>
			<a class="_link" href="/api/list?p_id={{item.id}}&v_id={{item.version_id}}">{{item.name}}</a>
			<span>已开启mock功能</span>
			<span><a href="#">查看配置</a></span>
		</li>
	{% endfor %}
	</ul>
</div>


{% include '../common/footer.html' %}






</body>
</html>