{% extends '../common/layout.html' %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/page_column.css" />
{% endblock %}

{% block body %}
<div class="column_head bg_base64 jumbotron">
	<div class="container">
		<h1 class="display-3">Mock接口</h1>
		<p>……</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<table class="_table">
		<thead>
			<tr>
				<th width="12%">项目名称</th>
				<th width="8%">是否开启mock功能</th>
				<th width="8%">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for item in data %}
			<tr>
				<td><a class="_link" href="/api/list?p_id={{item.id}}&v_id={{item.version_id}}">{{item.name}}</a></td>
				<td>已开启</td>
				<td><a href="#">查看配置</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</div>

{% endblock %}
