
<p style="text-align: right; padding: 0 20px 20px 0; margin-top: -20px"><a href="#" id="js_showall_group">展开</a>
</p>


	<h4 class="{%if query.g_id==''&&query.type!=2 %}current{%endif%}"><a href="/api/list?p_id={{query.p_id}}&v_id={{query.v_id}}">所有接口</a></h4>
	{%for item in groupList %}
		<h4 class="level_{{item.level}} {%if query.g_id==item.id %}current{%endif%}">
			<a href="/api/list?p_id={{query.p_id}}&v_id={{query.v_id}}&g_id={{item.id}}">{{item.name}}</a>
			<span class="goright">
				<a href="#{{item.id}}" data-id="{{item.id}}" class="add_son">+添加子栏目</a>
				<a href="#" class="edit_group" data-id="{{item.id}}" data-sort="{{item.sort}}" data-name="{{item.name}}" data-swagger_url="{{item.swagger_url}}" data-servers_api_path="{{item.servers_api_path}}">编辑</a>
				<a href="#" class="del_group"  data-id="{{item.id}}">×删除</a>
				<a href="#" class="del_son_groups">×删除所有子栏目</a>
			</span>
		</h4>
		{% if loop.first %}
			<ul class="_ul _ul_first">
		{% else %}
			<ul class="_ul">
		{% endif %}
		{%for itemSon in groupSonList %}
			{%if item.id==itemSon.father_id %}
				<li class="level_{{itemSon.level}} {%if query.g_id==itemSon.id %}current{%endif%}">
					<a href="/api/list?p_id={{query.p_id}}&v_id={{query.v_id}}&g_id={{itemSon.id}}">{{itemSon.name}}</a>
					<span class="goright">
						<a href="#" class="edit_group" data-id="{{itemSon.id}}" data-sort="{{itemSon.sort}}" data-name="{{itemSon.name}}" data-swagger_url="{{itemSon.swagger_url}}" data-servers_api_path="{{itemSon.servers_api_path}}">编辑</a>
						<a href="#" class="del_group" data-id="{{itemSon.id}}">×删除</a>
					</span>
				</li>
			{%endif%}
		{% endfor%}
		</ul>
	{% endfor%}

	<h4 class="{%if query.type==2 %}current{%endif%}"><a href="/api/list?p_id={{query.p_id}}&v_id={{query.v_id}}&type=2">过期接口</a></h4>

	<br><br><br><a href="#" id="js_add_group">添加栏目</a>
