<div class="col-sm-4" style="margin-bottom: 2rem">
	<div class="card" style="font-size: 90%;">
		<div class="card-header" style="color: #999;">
			<div class="row">
				<div class="col-md-8">
					创建者：{{item.user_name}} {{item.page}}
				</div>
				<div class="col-md-4 text-right">
					{% if item.currentPage === 'my_project' %}
						{% if item.user_id === user.id %}
							<span><a href="javascript:void(0)" class="del_project text-warning" data-id="{{item.id}}"><i class="iconfont">&#xe646;</i>删除</a></span>
					<!--<span style="color: orange;">创建者</span>-->
						{% else %}
					<!--<span style="color: #58c760;">协作者</span>-->
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="card-block">
			<h4 class="card-title" style="line-height: 1.2em; height: 2.4em;">{{item.name}}</h4>
			<p class="card-text" style="padding-bottom: 15px;  color: #999;">
				当前版本：{{item.version_name}}<br>
				创建时间：{{item.create_time | date('Y-m-d H:i:s', -480)}}
			</p>
			<a href="/api/list?p_id={{item.id}}" class="btn btn-success btn-sm"><i class="iconfont">&#xe611;</i>查看</a>
			{% if item.currentPage === 'my_project' && item.user_id === user.id %}
				<a href="/project/update?p_id={{item.id}}" class="btn btn-primary btn-sm"><i class="iconfont">&#xe603;</i>编辑</a>
			{% endif %}
		</div>
	</div>
</div>